<div class="menu">
 <ul>
    <li><%= link_to "Home", page_home_path %></li>
    <li><%= link_to "About", page_about_us_path%></li>
    <li><%= link_to "Recipes", page_recipes_path%></li>
    <li><%= link_to "Articles", page_articles_path%></li>
    <li><%= link_to "Calendar", page_calendar_path%></li>
    <li><%= link_to "Blog", page_blog_path%></li>
    <li><%= link_to "Login", page_login_path%></li>
 </ul>
</div>
